__pycache__

db_config

/logs
/models
/trajectories
/datasets
/uploads

/data
!/data/**/*.py

/analysis/predictions_2d.sdf
/analysis/predictions.sdf
/analysis/metrics_analyses/diffsbdd
/analysis/interaction_analyses/best_generation_structures
/analysis/usecase_analyses/7e2y_generation_2d.sdf
/analysis/usecase_analyses/7e2y_generation_cdg.sdf

/tests
!/tests/**/*.py
